#page-top > .d-flex {
    margin-top: 30px;
}
.comment-section {
    margin: 30px 10%;
}
.d-flex.justify-content-between.item-details {
    display: block !important;
}
.item-details > div {
    display: block;
    width: 100%;
    margin-bottom: 25px;
}
.item-details h5 span {
    font-size: 16px;
    font-weight: normal;
}
.customer-details h5 span {
    font-size: 16px;
    font-weight: normal;
}
.d-flex.customer-details {
    display: block !important;
    margin: 40px auto;
    text-align: center;
}
.portfolio-items h1 {
    margin-bottom: 35px;
}
.portfolio-items .card {
    width: auto !important;
    margin: 20px;
}
.portfolio-items {
    margin: 50px;
}
#user-profile {
    display: block !important;
}
#user-profile h5 {
    margin-bottom: 20px;
}
#user-form {
    margin-bottom: 40px;
}
.user-profile-wrapper, .art-wrapper {
    margin-top: 40px;
}
@media (max-width: 480px) {
    .item-parent .d-inline.p-2.w-50 {
        width: 100% !important;
        display: block !important;
    }
    .d-flex.item-parent {
        display: block !important;
        text-align: center;
    }
}