{% extends 'shared/base.html' %}
{% load profile_complete_notification %}

{% block content %}
    {% profile_complete_notification %}

    {% if feed %}
        <h1 class='text-center text-uppercase'>Your feed</h1>
        <div class="row">
        {% for item in feed %}
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.description }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.type }} {{ item.name }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <a href="{% url 'item details' item.id %}" class="btn btn-primary">See details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1 class='text-center text-uppercase'>You still have nothing in your feed</h1>
    {% endif %}
</div>
{% endblock %}






