{% extends 'shared/base.html' %}

{% block content %}
    <h1 class='text-center text-uppercase'>All art photos</h1>
    <div class="row">
        {% for item in art_items %}
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.description }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.type }} {{ item.name }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <a href="{% url 'item details' item.id %}" class="btn btn-primary">See details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}





