{% extends 'shared/base.html' %}

{% block content %}
    <div class="d-flex">
        <div class="d-inline p-2 w-50">
            <img src="{{ item.image.url }}" class="w-50 rounded mx-auto d-block">
        </div>
        <div class="d-inline p-2 w-50">
            <div class="d-flex justify-content-between">
                <h5><u>Name:</u> {{ item.name }}</h5>
                <h5><u>Type:</u> {{ item.type }}</h5>
                <h5><u>Owner:</u> <a href="{% url 'other profile details' item.user.id %}">{{ item.user }}</a></h5>

            </div>
            <p class="mt-2"></p><h5><u>Description:</u> {{ item.description }}</h5>
            {% if is_owner %}
                <div>
                    <a href="{% url 'edit item' item.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete item' item.id %}" class="btn btn-outline-warning">Delete</a>
                </div>
            {% else %}
                <a href="{% url 'like item' item.id %}">
                    {% if is_liked %}
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    {% else %}
                        <i class="far fa-heart" aria-hidden="true"></i>
                    {% endif %}
                </a>
                <p class="mt-2">Likes: {{ item.like_set.count }}</p>
            {% endif %}
        </div>
    </div>
    <div class="d-block" style="background-color: #e7e5a7; padding:2%">
        {% if comments %}
            {% for comment in comments %}
                <div class="box">
                    <h5><a href="{% url 'other profile details' comment.user.id %}">{{ comment.user }}</a>:
                        <em>{{ comment.comment }}</em></h5>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <div class="box">
                <h3>There are no comments for this item. </h3>
            </div>
        {% endif %}
        <div class="box">
            {% if not is_owner %}
                <form method="post" action="{% url 'comment item' item.id %}">
                    {% csrf_token %}
                    {{ comment_form }}
                    <button class="btn btn-primary mt-2" type="submit">Add comment</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}