{% extends 'shared/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<body id="page-top">

{% block content %}
    <!-- Navigation-->
    <!-- Masthead-->
    <header class="masthead">
        <p class="container">
        <div class="masthead-subheading ">Artify</div>
        <div class="masthead-heading text-uppercase">Get your next art inspiration!</div>
        <hr class="m-4">

        <div class="row">
            <div class="col-lg-6">
                <p class="lead">Already have an account? <br><a class="btn btn-primary btn-xl text-uppercase"
                                                                href="#services">SIGN IN</a></p>
            </div>

            <div class="col-lg-6">
                <p class="lead"> Do not have an account? <br><a class="btn btn-primary btn-xl text-uppercase"
                                                                href="#services">SIGN UP</a></p>
            </div>
        </div>

    </header>

{% endblock %}
