{% extends 'shared/base.html' %}

<body id="page-top">

{% block content %}

    <header class="masthead">
        <p class="container">
        <div class="masthead-subheading ">Artify</div>
        <div class="masthead-heading text-uppercase">Get your next art inspiration!</div>
        <hr class="m-4">

        <div class="row">
            {% if not request.user.is_authenticated %}
                <div class="col-lg-6">
                    <p class="lead">Already have an account? <br><a class="btn btn-primary btn-xl text-uppercase"
                                                                    href="{% url 'sign in user' %}">SIGN IN</a></p>
                </div>

                <div class="col-lg-6">
                    <p class="lead"> Do not have an account? <br><a class="btn btn-primary btn-xl text-uppercase"
                                                                    href="{% url 'sign up user' %}">SIGN UP</a></p>
                </div>
            {% endif %}
        </div>

    </header>

    {% if request.user.is_authenticated %}
        {% include 'art_items/items_albums.html' %}
    {% endif %}

{% endblock %}


