{% load static %}
{#<!-- Долното е оригиналното/първоначалното-->#}
{#<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">#}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
    {#<!-- Долното работи-->#}
    {#<nav class="navbar navbar-expand-lg navbar-dark bg-dark">#}
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'assets/img/artify_logo.png' %}"
                                                                     alt="artify"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'list items' %}">All Photos</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'create item' %}">Add Art Photo</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile details' %}">{{ request.user }}</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'sign out user' %}">Sign Out</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'sign in user' %}">Sign In</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'sign up user' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>